.login {
  display: flex;
  height: 100vh;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;   
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}
.form-login{
  flex: 3;
  display: flex; 
  align-items: center;

}
.form-login-div{
  
  padding: 90px ;
  width: 100%;
  max-width: 600px;
}
.form-login-input{
  border: 1.5px solid #e7e7e9;
  border-radius: 12px;
  width: 100%;
  height: 56px;
  padding: 18px 20px;
  outline: none;
}
/* Estilos base para el input */
.form-login-input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  margin-top: 5px;
  border-color: rgba(180, 179, 179, 0.4);
}

/* Estilos adicionales al hacer clic */
.form-login-input:focus {
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgba(163, 163, 163, 0.1);
  border-color: rgba(199, 198, 198, 0.4);
  /* Agrega otros estilos específicos del foco aquí si es necesario */
}
.form-login-input:hover {
  box-shadow: 0 0 0 4px rgba(163, 163, 163, 0.1);
  border-color: rgba(199, 198, 198, 0.4);
}

.password-login{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}



.form-login-label{
font-weight: 500;
font-family: 'Noto Sans KR', sans-serif;
}
.form-login-button{
  border-radius:20px ;
  width: 100%;
  height: 56px;
  padding: 18px 20px;
  border: none;
  background-color: #0e0d0d;
  color: white;
  font-size: 16px;
  font-weight:600;
  font-family: 'Noto Sans KR', sans-serif;
}
.form-login-button:focus{
  border-radius:20px ;
  cursor: pointer;
  background-color: #3a3939;
}

.login-margin{
  margin-top: 40px;
  margin-bottom: 40px;
}
.title-login{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 27px;
  font-style: inherit;
  font-weight: 600;
  line-height: 1;
}


/* Archivo src/App.css o estilos globales */

.video-login {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Ajusta según tus necesidades */
}



