/* blogs.css */

.admin-container {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  .content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
  }
  
  .link-style {
    text-decoration: none;
    color: inherit;
  }
  
/* blogs.css */

/* ... (código previo) */

.div-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    border-radius: 8px;
  }
  
  .div-content div {
    background-color: rgb(241, 240, 240);
    padding: 10px;
    margin: 30px;
    border-radius: 8px;
  }
  
  /* Añadimos estilos para pantallas más pequeñas usando Media Queries */
  @media (max-width: 768px) {
    .div-content {
      grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas más pequeñas */
      grid-template-rows: auto auto auto; /* Agrega otra fila si es necesario */
    }
  
    .div-content div {
      margin: 10px; /* Reduce el margen en pantallas más pequeñas */
      height: 30px;
    }
  }
  
  /* Ajustes adicionales para pantallas aún más pequeñas si es necesario */
  @media (max-width: 680px) {
    .div-content {
      grid-template-columns: 1fr; /* Una sola columna en pantallas muy pequeñas */
      grid-template-rows: auto auto auto auto; /* Ajusta el número de filas si es necesario */
    }
  }
  
  
  .div-nav {
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 15px;
    height: 100px;
    border-radius: 8px;
  }
  
  .na {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .image-nav {
    background: black;
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  