/* users.css */
.position {
  height: 80vh;
  width: 100vw;
  }
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: row;
  }
 .dashboard-users{
  display: flex;
  
 }
  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Cambia a flex-start para alinear al inicio */
    align-items: flex-start;
    font-size: 1rem;
    padding: 20px;
  }
  
  .content-container-table{
    width: 100vh;
  }
.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.toggle-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1d1e20;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}
.dashboard-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
.toggle-button button:hover {
  background-color: #0056b3;
}
.create-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.create-button {
  height: 60px;
  width: 90px;
  color: white;
  background-color: black;
  padding: 10%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}
.create-button:hover {
  background-color: rgb(112, 134, 134);
}
