.center-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

.nav {
  background-color:black;
  color: white;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  z-index: 2;
  overflow: hidden; /* Agrega overflow: hidden para evitar el desbordamiento de contenido */
  transition: width 0.3s ease; /* Aplica la transición solo al ancho */
 
}

.image-nav-logo {
  display: flex;
  justify-content: center;
}

.columns {
  padding-bottom: 25px;
}

.menu-center {
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
   gap: 10px; /* Ajusta el espacio entre las imágenes */
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
   justify-content: space-between;
box-sizing: border-box;


}
.menu-item:hover{
  border-left: 3px solid white;
  background-color: rgb(223, 223, 223);
  height: 50px;
  color: black;
  

}
.center-c{
  height: 50px;
  width: 50px; 
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex: 1;
}
.center-img{
  display: flex;
  align-items: center;
  justify-content:center;
  flex: 1;
  height: 50px;
width: 50px;
}

.icon {
  height: 20px;
  width: 20px;
}

.menu-label {
  font-size: 14px;
  margin-left: 10px; /* Agrega un margen entre la imagen y el texto */
}

.dropbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-profile {
  border-radius: 50px;
}

.nav-hovered {
  width: 100px;
  transition: width 0.3s ease; 
}


